

.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 10vmin);
  color: white;
  background-size: cover;
  /* background-image: url("images/softCross.jpg"); */
  background-image: url("images/blueAbstract.jpg");
  /* background-image: url("images/blueTile.jpg"); */
  /* background-image: url("images/treetops.jpg"); */
  border: 0px solid green;
}

.App-link {
  color: #61dafb;
}
.mainWrapper {
  width: 100%;
}
.Navsidebar {
  /* background-color: #282c34; */
  /* min-height: 5vh; */
  /* height: 150vh; */
  /* max-width: 30vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(7px + 2vmin);
  background-size: cover;
  /* background-image: url("images/softCross.jpg"); */
  background-image: url("images/blueAbstract.jpg");
  /* background-image: url("images/blueTile.jpg"); */
  /* background-image: url("images/treetops.jpg"); */
    width: 20vw;
    /* width: 100%; */
    border: 0px solid green;

}

.NavLink {
  color: white;
  margin: .4vw .82vw;
  padding: .6vw;
  border-width: .45vw;
  border-style: double;
  border-color: #f9c411;
  width: 17vw;
}

.NavLink :hover {
  background-color: #000000;
  color: #bb1a1a;
  text-decoration: none;
}

.NavLink :active {
  background-color: #000000;
  color: #1414df;
}
.wrapper {
  margin-left: 4.5vw;
  width: 78vw;
  border: 0px solid red;
}
.mainWrapper {
 
  /* margin-left: 45px; */
  /* width: 75%; */
  border: 0px solid blue;
}

.AddBtn {
  border-bottom: solid;
  border-color: green;

}
